Take the first name and last name of a person as input and concatinate the result

In [ ]:
first_name=input("Enter the first name: ")
last_name=input("Enter the last name: ")
print(first_name+" "+last_name)

Enter the first name: Mratunjay
Enter the last name: Chouhan
Mratunjay Chouhan

l1=["India", "USA", "Russia", ["Mangoes", "Oranges", "Watermelon"]]

1. fetch output as oranges and watermelon
2. fetch output  as India and Mangoes

Lists

In [ ]:
l1=["India", "USA", "Russia", ["Mangoes", "Oranges", "Watermelon"]]
l1[3][1:]

['Oranges', 'Watermelon']

In [ ]:
print(l1[0]+" "+l1[3][0])

India Mangoes

In [1]:
# Dictionaries
gros={"mango":30,"pens":10,"chocolate":100}
type(gros)

dict

In [2]:
gros["pens"]

10

In [4]:
# Inorder to change values associated with the keys we can use the key we can change it as follows.
gros["pens"]=50
gros

{'chocolate': 100, 'mango': 30, 'pens': 50}

In [10]:
#we can addnew elements to the dictiolnary as follows:
gros["coffee"]=300
gros["shampoo"]=45
gros

{'chocolate': 100, 'coffee': 300, 'mango': 30, 'pens': 50, 'shampoo': 45}

In [11]:
# inorder to remove elements from a dictionary we can do inthe following fashion
gros.pop("shampoo")
gros

{'chocolate': 100, 'coffee': 300, 'mango': 30, 'pens': 50}

In [12]:
del gros["coffee"]

In [13]:
print(gros)

{'mango': 30, 'pens': 50, 'chocolate': 100}

In [14]:
# We can even clear the entire content of a dictionary as follows
dict1={"brand": "Ford",
  "model": "Mustang",
  "year": 1964}
dict1.clear()
print(dict1)

{}