**LOOPS**

Take a number as input rom user and print its multiplication table

In [ ]:
# using for loop
num=int(input("enter the number"))
end=int(input("Enter the end multiplier"))
for i in range (0,end+1):
  print(str(num) +"*"+str(i)+"= "+str(num*count))

enter the number2
Enter the end multiplier10
2*0= 0
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20

In [ ]:
# using while loop
num=int(input("enter the number"))
end=int(input("Enter the end multiplier"))
count=1
while end>0:
  print(str(num) +"*"+str(count)+"= "+str(num*count))
  count=count+1
  end=end-1

enter the number2
Enter the end multiplier10
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5= 10
2*6= 12
2*7= 14
2*8= 16
2*9= 18
2*10= 20

Take a list of numbers and display the even numbers from the list

In [ ]:
li=[1,22,3,4,55,66,76,43,33,48,68,62,90]
l2=[]
for num in li:
  if num%2==0:
    l2.append(num)
  else:
    pass  
print(l2)

[22, 4, 66, 76, 48, 68, 62, 90]

Take a list of numbers and display the even as well as odd numbers from the list

In [2]:
li=[1,22,3,4,55,66,76,43,33,48,68,62,90]
l2=[]
l3=[]
for num in li:
  if num%2==0:
    l2.append(num)
  elif num%2==1:
    l3.append(num)
  else:
    pass  
print("The ven numbers are",l2)
print("The odd numbers are",l3)

The ven numbers are [22, 4, 66, 76, 48, 68, 62, 90]
The odd numbers are [1, 3, 55, 43, 33]

From the above list count the number of even and odd values

In [3]:
li=[1,22,3,4,55,66,76,43,33,48,68,62,90]
e_count=0
o_count=0
for i in li:
  if i%2==0:
    e_count=e_count+1
  elif i%2==1:
    o_count=o_count+1
  else:
    pass
print("The even numbers in the list are "+str(e_count)+" & the odd numbers in the list are "+str(o_count))

The even numbers in the list are 8 & the odd numbers in the list are 5

Take a list of numbers and display the squares of the numbers from it

In [4]:
li=[1,20,3,40,4,55,66,76,43,33,48,68,62,90]
square_list=[]
for i in li:
  square_list.append(i**2)
print(li,"\n")
print(square_list)

[1, 20, 3, 40, 4, 55, 66, 76, 43, 33, 48, 68, 62, 90]

[1, 400, 9, 1600, 16, 3025, 4356, 5776, 1849, 1089, 2304, 4624, 3844, 8100]

Statements:-

-PASS: With pass a perticular segment of the code gets deactivated

*   -BREAK:Forceably terminate an ongoing loop if a condition is satisfied
*   -CONTINUE:When the condition is satisfied then we will skip the mentioned element

In [5]:
# EXAMPLE OF PASS STATEMENT
a=7
b=3
if a>b:
  print("a is greater")
else:
  pass     #here the else part is deactivated, meaning that if we pass some bigger value for b compared to that of a then the code will skip the else block due to "PASS"

a is greater

In [7]:
# BREAK
fruits=["Mango","Apple","Guava","Cherry","Oranges"]
for fruit in fruits:
  if fruit=="Cherry":
    break
  print(fruit)
# here the "BREAK" terminates the program when the condition is met as true

Mango
Apple
Guava

In [9]:
# CONTINUE
fruits=["Mango","Apple","Guava","Cherry","Oranges"]
for fruit in fruits:
  if fruit=="Cherry":
    continue
  print(fruit)
# here whichever element is mentioned in the condition will be skippped and the loop will continue ahead

Mango
Apple
Guava
Oranges

Display the numbers between 0 to 6 skipping 3 and 6

In [12]:
for i in range(0,7):
  if (i==3 or i==6):
    continue
  print(i)

0
1
2
4
5