**Functions**

The function is a block of related statements designed to perform a computational, logical, or evaluative task.

A function is of 2 types:

*   User defined Function
*   Built in Function

In an user defined function the function is created as per user for his/her needs wheras in case of built in functions, these are made for user to perform task at ease. Examole for built in functions are: print(), input() etc.3

*We have two operatons which we perform while working with the functions these are:*


*   *define*
*   *Call*

*define:* *defining a function starts with user defined function name and the parameters related to it incorporated in the square brackets*
**def func_name(parameters)**

*call:* *While calling a function a user needs to use the function for some task he needs to perform. This user can do so by calling in the function with the function name and mentioning the arguments in parenthesis*
**func_name(Arguments)**

In [ ]:
# Example 1:

#---------------------------------------Defining a function---------------------------------------------------------------
def addition_3_var(a,b,c): # here the addition_3_var is the name of the function and a,b,c are the parameters for the same
  c=a+b+c
  return c

#----------------------------------------Calling a function---------------------------------------------------------------
sum=addition_3_var(22,34,54)
print("Sum of the three input arguments are",sum)

Sum of the three input arguments are 110

Create a function for user to pass two numeral arguments and perform all the basic arithematic operations on them:

In [ ]:
def calculations(a,b):
  """this function is created to perform all the basic arithematic operations on the input argumemts"""
  print("Add* is: ",a+b)
  print("Multiply* is: ",a*b)
  print("Div* is: ",a/b)
  print("subs* is: ",a-b)

calculations(44,2)

Add* is:  46
Multiply* is:  88
Div* is:  22.0
subs* is:  42

In [ ]:
print(calculations.__doc__)

None

Create a function to take name and age and display the name of person

In [ ]:
def prsnl_details(name,age):
  print(name)

In [ ]:
prsnl_details("Mukund",23)

Mukund

Create a function which takes name and salary as input and display the salary of a person. Incase the salary is not mentioned, use default salary as 10,000

In [ ]:
def salary(name, salary=10000):
  print(salary)

In [ ]:
salary("Mukund",50000)

50000

In [ ]:
salary("Arnav")

10000

Types of arguments:

1. Arbitary arguments
2. Keyword arguments
3. Arbitary Keyword arguments

In [ ]:
# An arbitary argument will accept any number of parameters.
def func1(*child):
  print("the youngest child is ",child[2])

In [ ]:
func1("Meera","sita","anubhav","Kamal","lokesh")

the youngest child is  anubhav

In [ ]:
# in keyword argumnet we know the exact number of parameters for the input. Also, the parameters are included in as in form of key value pairs
def func2(child1,child3,child2):
  print("The youngest child is ",child2)

In [ ]:
func2(child1="ram",child2="shyam",child3="geeta")

The youngest child is  shyam

In [ ]:
# An arbitary keyword argument is a combination of both arbitary and keyword argument and is repreented as follows:
def func3(**names):
  print("your last name is",names["lname"])

In [ ]:
func3(fname="Mratunjay",mname="Singh",lname="Chouhan")

your last name is Chouhan

**Question**

Create a function which checks weather a number is in given range or not

In [ ]:
def num_check(number):
  if number in range(0,101):
    print("Number in range")
  else:
    print("Out of range")

In [ ]:
num_check(100)

Number in range

Create a function which takes list of numbers and returns all the duplicate values in other list

In [6]:
def repeatn(*num):
  l1=list(num)
  print(l1)
  li=[]
  repeat=[]
  for value in l1:
      if value not in li:
        li.append(value)
      else:
        repeat.append(value)
  return(repeat)

In [7]:
repeatn(1,2,2,33,44,56,6)

[1, 2, 2, 33, 44, 56, 6]

[2]